.image-box {
    width: 100%;
    height: 520px;
    background-color: brown;
    padding: 1px;
}
.menubar-image {
    margin: 10px;
    width: 98%;
    height: 50px;
    padding: 10px;
    background-color: orange;
}
.content-blog {
    margin: auto;
    width: 98%;
    height: 430px;
    background-color: green;
    display: table;
    border-collapse:separate;
    border-spacing: 5px;
}
.table-row {        /* //nested class of content-log */
    display: table-cell;
}
.sitebar-tree-folder {
    width: 20%;
    height: 300px;
    background-color: aqua;
}
.blog-image {
    width: 60%;
    height: 300px;
    background-color: beige;
}
/* add content button to menu side */
#space-btn {    /*Third btn class="col-3" id="space-btn"*/
    width: 71%;
}
/* btn effect */
.button {
    width: 100px;
    height: 40px;
    border: none;
    background: #3C8DBC;
    color : #fff;
    border-radius: 3px;
    margin-left: 10px;
    margin-top: -10px;
}
.button:hover {background-color: rgb(24, 120, 175);}
.button:active {
    background-color:  rgb(24, 120, 175);
    transform: translateY(4px);
}